.z-programs-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.z-program-entry {
  border-top: 2px solid #0da5d3;
  padding: 2rem 0;
}

.z-social-buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin: 0 2rem;
}

h3.z-hero-subtitle {
  padding: 0.5rem 0;
  margin: 2rem auto;
  text-shadow: none;
  font-size: 3rem;
  background-color: #00000099;
}

@media only screen and (max-width: 75em) {
  .z-section-title {
    text-align: center;
  }

  .z-social-buttons {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 48em) {
  .z-programs-list {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .z-section-title {
    text-align: center;
  }

  .z-social-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}
