---
layout: default
title: Zephyr
subTitle: Advancing Travel Analysis to Improve Society
---

<!-- About Section -->
<section id="about" class="container content-section text-left">
	<div class="row">
    <div class="col-lg-12">
    <br/><br/>
    
	<h1 class="text-center">About</h1>
	<hr class="section-heading-spacer-center">
		<div class="row">
		
			<div class="col-md-6">
				<h3>Mission</h3>
				<p>The Foundation’s mission is to advance rigorous transportation and land use decision-making for the public good by advocating for and supporting improved travel analysis and facilitating its implementation.  </p>
			</div>
			
			<div class="col-md-6">
				<h3>Vision</h3>
				<p>Become the primary venue through which leading researchers and practitioners seek to develop and implement travel analysis methods and tools that are demonstrably more valuable, credible, transparent, tractable, reproducible, and usable in order to support decision-making that is inclusive and promotes equitable outcomes, shared prosperity, and sustainability. </p>
			</div>
			
		</div>
		<hr class="sub-section-heading-spacer">
		<h3>Goals</h3>
		<p>The Foundation’s goals are to advance the field through flexible and efficient support, education, guidance, encouragement, and incubation as outlined below in support of the Mission: </p>
		<div class="row">
		
			<div class="col-sm-4">
				<h4><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> Support</h4>
				<p>Provide robust infrastructure, including financial, administrative, and legal support.</p>
			</div> 
			
			<div class="col-sm-4">
				<h4><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> Educate</h4>
				<p>Educate researchers and practitioners on core competencies and next generation travel analysis skills and travel analysis stakeholders on best practices. </p>
			</div> 
			
			<div class="col-sm-4">
				<h4><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> Incubate</h4>
				<p>Incubate innovative and useful planning methods in preparation for deployment by regions, cities, and neighborhoods.</p>
			</div> 
			</div>
		    <div class="row">
			<div class="col-sm-4">
				<h4><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> Guide</h4>
				<p>Guide research towards useful products and practitioners towards useful implementation.</p>
			</div> 
		
			<div class="col-sm-4">
				<h4><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> Encourage</h4>
				<p>Encourage the use of open data standards, rigorous development practices, interoperability, reproducible research methods, and evaluation of research. </p>
			</div> 
			
			<div class="col-sm-4">
				<h4><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> Convene</h4>
				<p>Convene leading academics and practitioners to guide the Foundation’s efforts.</p>
			</div>
			</div>
		    <div class="row">
			<div class="col-sm-4">
				<h4><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> Advance</h4>
				<p>Advance the science and field of travel analysis.</p>
			</div>
			
		</div>

	<hr class="sub-section-heading-spacer">
	<h3>Principles</h3>
		<p>The Foundation is guided by the following principles:</p>
			<div class="row">
			<div class="col-md-10">
			<div class="col-sm-5 highlight-text-block">Respectful, honest, technical-based interaction;</div>
			<div class="col-sm-5 highlight-text-block">Collegial and collaborative;</div>
			<div class="col-sm-5 highlight-text-block">Driven by useful innovation that leverages our unique position;</div>
			<div class="col-sm-5 highlight-text-block">Acting in support of the public good, specifically inclusion, equitable outcomes, and shared prosperity;</div>
			<div class="col-sm-5 highlight-text-block">User-friendly packaging and licensing;</div>
			<div class="col-sm-5 highlight-text-block">Consistently high-quality work products;</div>
			<div class="col-sm-5 highlight-text-block">Faithful implementation of standards;</div>
			<div class="col-sm-5 highlight-text-block">Respectful of time and resources;</div>
			<div class="col-sm-5 highlight-text-block">Diversity of opinions and backgrounds are proactively sought out and welcomed; and,</div>
			<div class="col-sm-5 highlight-text-block">Lawfulness as mandatory. </div>
			</div>
			</div>

	<hr class="sub-section-heading-spacer">
	<h3>Why a Foundation?</h3>
		<div class="row">
		<div class="col-md-6">
		<p>We have been asked [ and have asked ourselves ] why we think a new Foundation is the best structure for improving the travel analysis industry.  The short answer is that our current options for furthering our profession have various drawbacks that prevent them from pushing our industry forward.  Specific attributes that we need include: flexibility, agility, stability [ of staffing and funding ], and ability to contribute funding from public and private sources on multiple levels.  
		</div>
		</div>
		
	<hr class="sub-section-heading-spacer">
	<h3>Origin Story</h3>
		<div class="row">
		<div class="col-md-10">
		<p>At the 2015 Transportation Research Board (TRB) Annual Meeting, a scientist from the National Oceanic and Atmospheric Administration's <a href="http://www.hfip.org/">Hurricane Forecast Improvement Program</a> gave an inspiring presentation to the TRB Standing Committee on Transportation Demand Forecasting (<a href="http://www.trb.org/ADB40/ADB40.aspx">ADB40</a>).  The presentation motivated a lot of thinking about how the travel modeling community could more systematically improve our forecasting efforts. 

<p>At the 2016 TRB Annual Meeting, a session entitled <b>From Ad Hoc to Scientific: Moderated Discussion on Improving Travel Forecasting Methods</b> (<a href="https://annualmeeting.mytrb.org/InteractiveProgram/Details/3037">Session 547</a>) engaged the travel modeling community in a discussion about explicitly improving the empirical basis for improving our methods.  

<p>Concurrently, other members of the community had been planning a Foundation to serve as a home for innovation, development, and sharing of urban planning software and methods. These two initiatives merged after the 2016 TRB Annual Meeting following the discussion generated from the session.

<p>Then at the 2016 TRB Innovations in Travel Modeling Conference a session called <b>Getting Down to the Business of Advancing the Practice of Travel Modeling</b> (<a href="http://onlinepubs.trb.org/onlinepubs/conferences/2016/ITM/Program.pdf">session 6C</a>) discussed what the Mission and Vision of a hypothetical foundation focused on improving travel modeling practice could be.  Following the session, a working group of TRB Standing Committee ADB40 members and friends put together a <a href="https://github.com/MetropolitanTransportationCommission/travel-modeling-as-science/wiki/Mission,-Vision,-Goals,-Principles">version 1.0 mission/vision/goals/principles statement</a> for what we are now calling <b>The Zephyr Foundation for Advancing Travel Analysis Methods</b>. The working group – henceforth referred to as "the instigators" –  are now actively working on standing up the Zephyr Foundation. 
		</div>
		</div>
		
		<div class="row">
		
		<div class="col-md-6">
			<h4><i class="fa fa-institution" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i>&nbsp &nbsp Board</h4>
			<p>Initial board:
			<ul><li>Tom Adler</li>
			    <li>Clint Daniels</li>
			    <li>Hani Mahmassani</li>
			    <li>Eric Miller</li>
			    <li>Rosella Picado</li>
			    <li>Mario Scott</li>
			    <li>Leah Silen</li>
			</ul>
			<br>
			<h4><i class="fa fa-rocket" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i>&nbsp &nbsp Instigators</h4>
			<p>Group working to bring this idea to reality:
			<ul><li>Billy Charlton</li>
			    <li>Gregory Erhardt</li>
			    <li>Brian Gardner</li>
			    <li>David Ory</li>
			    <li>Elizabeth Sall</li>
			    <li>Joan Walker</li>
			</ul>
		</div>
		
		<div class="col-md-6">
			<h4><i class="fa fa-users" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i>&nbsp &nbsp Founding Stakeholders</h4>
			<p>Industry leaders who have agreed to help shape the initial direction of the Foundation.<i> Place of work for identification purpose only and does not indicate the endorsement of that institution.</i>
			<ul>
				<li>Alexei Pozdnukhov, University of California at Berkeley</li>
				<li>Aruna Sivakumar, Imperial College</li>
				<li>Beverly Scott, Beverly Scott and Associates</li>
				<li>Chandra Bhat, University of Texas</li>
				<li>Clint Daniels, San Diego Association of Governments</li>
				<li>Dan Florian, INRO Software</li>
				<li>Eric Anderson, Maricopa Association of Governments</li>
				<li>Eric Miller, University of Toronto</li>
				<li>George Naylor, Santa Clara Valley Transportation Authority</li>
				<li>Greg Giaimo, Ohio Department of Transportation</li>
				<li>Hani Mahmassani, Northwestern University</li>
				<li>Howard Slavin, Caliper</li>
				<li>Julie Dunbar, Dunbar Transportation</li>
				<li>Kay Axhausen, ETH-Zurich</li>
				<li>Moshe Ben-Akiva, Massachusetts Institute of Technology</li>
				<li>Pat Mokhtarian, Georgia Institute of Technology</li>
				<li>Rick Donnelly, WSP-PB</li>
				<li>Rosella Picado, WSP-PB</li>
				<li>Stephen Lawe, Resource Systems Group</li>
				<li>Steve Perone, PTV</li>
				<li>Therese McMillan, LA MTA</li>
				<li>Vladimir Livshits, Maricopa Association of Governments</li>
			</ul>
		</div>
		</div>
		
    </div>
    </div>
</section>

<hr class="section-divider">
<section id="activities">
<!-- Page Content -->
	<div class="container content-section text-left">
	<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <br/><br/>
    
	<h1 class="text-center">Project Examples</h1>
	<hr class="section-heading-spacer-center">
	
	<div class="col-md-offset-1">
	<p>This is a list of potential projects that could be undertaken by the Foundation.  				 The initial board will consider and prioritize these projects along with many others such as those developed at the <a href={{  "/events/TRBWorkshop" | absolute_url }} >TRB Annual Meeting Workshop</a> held in January 2017.
	<br>
	<br>
	</div>
	</div>
	</div>
	</div>
{% for project in site.projects %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="project-heading-spacer-left">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ project.title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    {% if project.img != 'none' %}
                    	<img class="img-responsive" src="img/activities/{{ project.img }}" alt="">
                    {% endif %}
                    {% if project.icon != 'none' %}
                    		<i class="fa {{ project.icon }} fa-5x" aria-hidden="true"></i>
                    {% endif %}
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="lead">{{ project.description }}</div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="project-heading-spacer-right">
                    <div class="clearfix"></div>
                    <h2 class="section-heading text-right">{{ project.title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    {% if project.img != 'none' %}
                    	<img class="img-responsive" src="img/activities/{{ project.img }}" alt="">
                    {% endif %}
                    {% if project.icon != 'none' %}
                    		<div class="text-right"><i class="fa {{ project.icon }} fa-5x" aria-hidden="true"></i></div>
                    {% endif %}
                    
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  	<div class="lead">{{ project.description }}</div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>

<!-- Governance Section -->
<hr class="section-divider">
<section id="finer-print" class="container content-section text-left">
	<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <br/><br/>
    
	<h1 class="text-center">Finer Print</h1>
	<hr class="section-heading-spacer-center">
		<div class="row">
			<div class="col-md-6">
				<h3>Governance</h3>
				<p>The Foundation will be directed by a five-member volunteer board of diverse backgrounds.  The founding stakeholders [ a pool of individuals selected to represent the will of the industry and those that it serves ] will select the initial board.  The board will guide the organization, selecting officers to oversee the day-to-day affairs of the Foundation and forming committees to focus on the immediate tasks at hand.  We believe the Apache Foundation serves as an excellent organizational model. 
				<p>The initial board members must embrace the significant task of getting the organization off the ground.  This will include seeking contributors, handling a host of administrative duties, and continually making the case for the Foundation’s existence.  For us to succeed, the board’s duties in year one will be very different than their duties in year five.  
				<p>In the future, the bulk of the day-to-day work of the Foundation will be completed within the structure of project management committees.  The board will create project management committees and select's their chair but does not interfere with the technical decision-making of the committee.
				</p>
				<p>Feel free to review our <a href="https://github.com/ZephyrTransport/governance">draft governance documents on GitHub.</a>
				</p>
			</div>
			
			<div class="col-md-6">
				<h3>Business Plan [ in brief ]</h3>
				<p>We estimate annual costs during our first five years to be approximately $400,000.  Costs include legal assistance, insurance, accounting services, board member travel, and other administrative overhead, as well as salaries and office space for two (2) full-time staff equivalents.  During the start-up phase, consultants will staff the organization and will be directly overseen by board-appointed officers.  Our revenue plan seeks annual contributions in the $5,000 to $25,000 range from a variety of governmental entities, including:
				<ul class="fa-ul">
					 <li><i class="fa-li fa fa-angle-right" style="color:#{{ site.highlight-color }}"></i>Metropolitan Planning Organizations;</li>
 					<li><i class="fa-li fa fa-angle-right" style="color:#{{ site.highlight-color }}"></i>State Departments of Transportation;</li>
 					<li><i class="fa-li fa fa-angle-right" style="color:#{{ site.highlight-color }}"></i>Federal Highway and Transit Administrations;</li>
 					<li><i class="fa-li fa fa-angle-right" style="color:#{{ site.highlight-color }}"></i>University Transportation Centers;</li>
 					<li><i class="fa-li fa fa-angle-right" style="color:#{{ site.highlight-color }}"></i>Associations of Governments, e.g., National Association of City Transportation Officials (NACTO), Association of Metropolitan Planning Organizations (AMPO), American Association of State Highway and Transportation Officials (AASHTO).</li>
				</ul>
				<p>At an annual contribution level of $10,000, approximately 40 contributing entities are required to sustain our expected baseline operations. 
 </p>
			</div>


		</div>
		
</section>


<!-- Timeline Section -->
<hr class="section-divider">
<section id="timeline" class="container content-section text-left">
	<div class="row">
    <div class="col-md-12">
    <br/><br/>
	<h1 class="text-center">Events + Timeline</h1>
	<hr class="section-heading-spacer-center">
	
	<div class="row">
		
			<div class="col-sm-4">
				<h3><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> September 2016</h3>
				<p>Finalized list of Founding Stakeholders</p>
			</div> 
			
			<div class="col-sm-4">
				<h3><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> October 2016</h3>
				<p>Convened meetings of Founding Stakeholders to discuss, develop, and approve:
				<ul><li>mission + vision</li><li>governance documents and board structure</li><li>membership structure</li><li>near-term objectives and projects</li></ul></p>
			</div> 
			
			<div class="col-sm-4">
				<h3><i class="fa fa-angle-right"  style="color:#{{ site.highlight-color }}"aria-hidden="true"></i> November 2016</h3>
				<p>Solicited near-term objectives and project ideas into those selected by the board and developed a TRB workshop to develop them.</p>
			</div> 
			
		</div>
		<div class="row">
		
			<div class="col-sm-4">
				<h3><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> January 2017</h3>
				<p><a href="/events/TRBworkshop">TRB workshop</a> that developed initial project roadmaps.</p>
			</div> 
			 
			<div class="col-sm-4">
				<h3><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> April 2017</h3>
				<p>Elect initial board and file articles of incorporation.</p>
				<p>NSF Workshop: Advancing the Science of Transportation Demand Modeling.</p>
			</div>
		<div class="row">
			
			<div class="col-sm-4">
				<h3><i class="fa fa-angle-right" style="color:#{{ site.highlight-color }}" aria-hidden="true"></i> May 2017</h3>
				<p>Operations commence. </p>
				<p>File for 501c3 status.</p>
				<p><a href="/events/AppCon2017-Workshop">Workshop at TRB Planning Applications Conference</a></p>
			</div>
			
		</div>
	<br><br>
	
	</div>
	</div>
		
		
</section>


