---
layout: default
title: Zephyr
subTitle: Advancing Travel Analysis to Improve Society
---

<!-- Introducing Zephyr Section -->
<section class="content-section text-left" id="mission" style="padding: 2rem 2rem 6rem 2rem; ">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="text-left z-section-title">Zephyr Foundation</h1>
            <p class="z-section-title" style="color: #717171;">
                a 501(c)3 non-profit
                <hr class="section-heading-spacer"/>
                <div class="row">

                    <div class="col-md-12 z-section-title">
                        <h2 style="line-height: 4.5rem; color: #717171; font-weight: normal;">Zephyr’s mission: advancing rigorous
                            <span style="color: #335;">transportation and land use decision-making</span>
                            for the public good by advocating for and supporting
                            <span style="color: #335;">improved travel analysis</span>, and facilitating its implementation.
                        </h2>
                    </div>

                    <div class="col-md-11" style="margin-top: 4rem;">
                        <div>
                            <hr/>
                            <h3>Vision</h3>
                            <p>Our vision is to become the primary venue through which leading researchers and practitioners seek to develop and implement travel analysis methods and tools that are demonstrably more valuable, credible, transparent, tractable, reproducible, and usable.</p>
                            <p>We strive for those methods and tools to support decision-making that is inclusive and promotes equitable outcomes, shared prosperity, and sustainability.
                            </p>
                        </div>

                        <div class="">
                            <h3>More About Zephyr</h3>
                            <p>Read up
                                <a href="/about">About Zephyr</a>
                                to find more on the nonprofit's
                            </p>
                            <ul>
                                <li>goals</li>
                                <li>leadership</li>
                                <li>membership</li>
                                <li>and fine print such as 501(c)3 status, governance, and bylaws.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </p>
        </div>
    </div>
</section>


<!-- Programs and Projects -->
<section class="content-section text-left" id="activities" style="padding: 2rem 2rem 6rem 2rem; background: #f4f4f4;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-left z-section-title">Programs and Projects</h1>

            <p class="z-section-title">This is a list of Zephyr's projects and programs.</p>

            <div class="z-programs-list">
                <!-- TMIP first but it's not technically a project -->
                <div class="z-program-entry z-section-title" style="text-align: center;">
                    <img src="/img/TMIP_wheel_bw_transparent.png" width="100px"/>
                    <h3 class="section-heading" style="margin-bottom: 1rem;">
                        <a href="/TMIP">TMIP</a>
                    </h3>
                    <div class="lead">An integrated online Community of Practice for the Travel Model Improvement Program (TMIP).</div>
                    </div>

                {% for project in site.projects %}
                    <div class="z-program-entry z-section-title" style="text-align: center;">
                        {% if project.icon != 'none' %}
                            <i aria-hidden="true" class="fa {{ project.icon }} fa-5x"></i>
                        {% endif %}
                        <h3 class="section-heading" style="margin-bottom: 1rem;">
                            <a href={{ site.baseurl }} {{ project.url }}>{{ project.title }}</a>
                        </h3>
                        <div class="lead">{{ project.description }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
