<section id="get-involved" class="z-cta-band">
    <div class="container text-center">
        <h2>Get Involved</h2>
        <p class="z-cta-band-lead">Zephyr is a community effort &mdash; join as a member, support our activities, or say hello.</p>
        <a class="btn btn-lg btn-z" href="{{ '/membership' | relative_url }}">Become a Member</a>
        <a class="btn btn-lg btn-z" href="{{ '/donate' | relative_url }}">Donate</a>
        <a class="btn btn-lg btn-z" href="{{ '/about/discord' | relative_url }}">Join the Zephyr Phorum (Pilot)</a>
    </div>
</section>
