<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
	             <a href="/#home">
		             <img src="/img/logo-small.png" width="30" height="30" class="d-inline-block align-top" alt="zephyr logo">
	             </a>
               <a class="zephyr page-scroll" href="/#home">&nbsp&nbsp{{ site.title }}</a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            	<li>
                    <a class="page-scroll" href="/#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#activities">Activities</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#timeline">Events + Timeline</a>
                </li>
                <li>
                    <a class="page-scroll" href="/membership">Membership</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="event-header img" style="background:url('{{ page.img }}' ) no-repeat center center; background-size: cover;>

		<div class="container">

			<div class="row">
				<div class="col-md-2">
					<div class="intro-callout">
                      <p>{{ page.additional-msg }}</p>
					</div>
				</div>
				<div class="col-md-10">
					<div class="intro-message">
						<h1 class="event-title zephyr">{{ page.title }}</h1>
						<h3 class="highlight-text">{{ page.type }}</h3>
						<hr class="intro-divider">
						<h3>{{ page.day }} &middot;  {{ page.time }} &middot; {{ page.place }}
					</div>
				</div>

			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
