<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="http://zephyrtransport.org/#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://zephyrtransport.org/#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://zephyrtransport.org/#activities">Activities</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://zephyrtransport.org/#timeline">Timeline</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li> <!-- membership page hosted on surge.sh because stripe requires https domain -->
                        <a href="/membership">Membership</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}
                   <a href="http://zephyrtransport.org/terms-of-use">Terms of Use</a> &sdot;
                   <a href="http://zephyrtransport.org/privacy-policy">Privacy Policy</a>
                </p>
            </div>
            <div class="col-md-4" style="font-size: 12px">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
