<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="zephyr z-footer-brand">{{ site.title }}</div>
                <p class="mt-2">{{ site.mission }}</p>
            </div>

            <div class="col-md-4 mb-4">
                <h5>Quick Links</h5>
                <ul class="z-footer-links">
                    <li><a href="{{ '/programs' | relative_url }}">Programs</a></li>
                    <li><a href="{{ '/events' | relative_url }}">Events</a></li>
                    <li><a href="{{ '/membership' | relative_url }}">Membership</a></li>
                    <li><a href="{{ '/zephies' | relative_url }}">Zephies</a></li>
                    <li><a href="{{ '/about' | relative_url }}">About</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-4">
                <h5>Connect with Zephyr</h5>
                <div class="z-social-buttons">
                    {% for social in site.social %}
                        <a href="{{ social.url }}"><i class="fab fa-{{ social.title }} fa-lg"></i></a>
                    {% endfor %}
                    <a href="http://eepurl.com/ccQL7z"><i class="fa fa-envelope fa-lg"></i></a>
                </div>
            </div>
        </div>

        <hr class="z-footer-divider"/>

        <div class="row">
            <div class="col-md-8 z-footer-legal">
                {{ site.copyright }}
                <br/>
                <a href="{{ '/about/policies/terms-of-use' | relative_url }}">Terms of Use</a> &sdot;
                <a href="{{ '/about/policies/privacy' | relative_url }}">Privacy Policy</a>
            </div>
            <div class="col-md-4 z-footer-legal text-md-end">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
