<!-- Navigation -->
{% include nav.html %}

<section id="home">
    <!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-message z-biglogo">
                        <h1 class="zephyr"><img src="/img/logo-small.png" width="200px" style="padding-right:2rem"/>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
</section>
