<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
	             <a href="/#home">
		             <img src="/img/logo-small.png" width="30" height="30" class="d-inline-block align-top" alt="zephyr logo">
	             </a>
               <a class="zephyr page-scroll" href="/#home">&nbsp;&nbsp;{{ site.title }}</a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            	<li>
                    <a class="page-scroll" href="/#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#activities">Activities</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#timeline">Events + Timeline</a>
                </li>
                <li>
                    <a class="page-scroll" href="/membership">Membership</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-md-2">
					<div class="intro-callout">
					  <h4><a href="https://medium.com/zephyrfoundation">Blog</a></h4>
            <h4>Announcements</h4>
            		  <p>
                            <i class="fa fa-angle-right" style="color:#{{ site.highlight-text }}"  aria-hidden="true"></i>
                            <a href="{{ site.baseurl }}/projects/5-transit-ridership-standard/" style="color:#{{ site.highlight-text }}">GTFS-ride becomes a Zephyr project</a>
                      </p>
					  <p>
                            <i class="fa fa-angle-right" style="color:#{{ site.highlight-text }}"  aria-hidden="true"></i>
                            <a href="https://medium.com/zephyrfoundation/the-2018-zephyr-agenda-2a5771c0939c" style="color:#{{ site.highlight-text }}">What is Zephyr going to DO in 2018?</a>
                      </p>
                      <p>
                            <i class="fa fa-angle-right" style="color:#{{ site.highlight-text }}"  aria-hidden="true"></i>
                            <a href="https://medium.com/zephyrfoundation/dc-in-january-2018-edition-93056a7b6ae3" style="color:#{{ site.highlight-text }}">Join Zephyr at the 2018 TRB Annual Meeting</a>
                      </p>

					</div>
				</div>
				<div class="col-md-10">
					<div class="intro-message">
						<h1 class="zephyr">{{ page.title }}</h1>
						<h3 class="highlight-text">{{ page.subTitle }}</h3>
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							{% for social in site.social %}
							<li>
								<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>

			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
