<div class="stripecol stripecol-33">
  <div class="card">
    <div class="card-image">
      <img class="img-responsive" src="{{ product.image }}" alt="{{ product.name }}">
    </div><!-- card image -->

    <div class="card-content">
      <span class="card-title">{{ product.name }}</span>
      <span class="card-subtitle">${{ product.price }}</span>
      {{ product.description }}
    </div><!-- card content -->

    <div class="card-action">

      <form id="form-{{product.sku}}" method="POST">
        <input id="terms-{{product.sku}}" type="checkbox" name="terms">&nbsp;I agree to abide by the<br/>
        <a href="/terms-of-membership">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms of Membership</a><br/>
      </form>

      <form class="terms-form" id="stripe-{{product.sku}}" action="{{ site.post_url }}" method="POST">
        <br/>
        <input name="customer_name" value="" placeholder="Your full name" required><br/><br/>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-amount="{{ product.price | remove: '.' }}"
          data-currency="usd"
          data-description="{{ product.name }}"
          data-image="{{ site.url }}/img/logo-small.png"
          data-key="{{ site.stripe_key }}"
          data-label="Join Now!"
          data-panel-label="Pay {{amount}}"
          data-locale="us"
          data-zip-code="true"
          data-name="Zephyr Foundation"
          data-allow-remember-me="false"
        >
        </script>
        <input name="amount" value="{{ product.price | remove: '.' }}" type="hidden">
        <input name="description" value="{{ product.description }}" type="hidden">
      </form>

    </div><!-- card actions -->
  </div>
</div>
