<div class="z-event-date">
    {% if post.day %}
        {{post.day}}
    {% else %}

        <!-- Whitespace added for readability -->
        {% assign dy = post.date | date: "%a" %}
        {% case dy %}
                {% when "Tue" %}Tues.{% when "Thu" %}Thurs.
            {% else %}
                {{ dy }}.
        {% endcase %}

        {% assign d = post.date | date: "%-d" %}
        {% assign m = post.date | date: "%B" %}

        {% case m %}
            {% when 'April' or 'May' or 'June' or 'July' %}
                {{ m }}
                {% when 'September' %}Sept.
            {% else %}
                {{ post.date | date: "%b" }}.
        {% endcase %}
        {% case d %}
            {% when '1' or '21' or '31' %}
                {{ d }}st
            {% when '2' or '22' %}
                {{ d }}nd
            {% when '3' or '23' %}
                {{ d }}rd
            {% else %}
                {{ d }}th
        {% endcase %}

    {% endif %}
</div>

<div class="z-event-title">
    <a href="{{post.url}}">{{ post.title }}</a>
    <p>{{ post.time }}</p>
</div>
