<!-- Navigation -->
{% include nav.html %}

<section id="home">
    <!-- Header -->
    <div class="event-header img" style="margin-bottom: {% if page.hero-gap %}{{ page.hero-gap }}{% else %}8rem{% endif %}; background:url('{{ '/img/' | append: page.img | relative_url }}' ) no-repeat {{ page.img-position | default: 'center center' }}; background-size: cover;">

        <div class="container">

            <div class="row">
                <div class="col-md-2">
                    <div class="intro-callout">
                        <p>{{ page.latest-update }}</p>
                    </div>
                </div>
                <div class="col-md-12 z-section-title">
                    <div class="intro-message">
                        <div class="z-header-readable">
                            {% include section-tag.html %}
                            {% unless page.hide-title %}<h2 class="project-title zephyr z-section-title">{{ page.title }}</h2>{% endunless %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
</section>
