{% include head.html %}
{% include post-header.html %}
<body>

<div class="container-fluid" id="main">
<div class="row">
<div class="col-md-6">

	<h2><p class="zephyr">{{ page.title }}</p></h2>	
	
    {% for post in site.posts %}
    <hr>
    <h4><span class="gray-text">{{ post.date | date: '%B %d, %Y' }}</span> &nbsp<a href={{ site.baseurl }}{{ post.url }}>{{ post.title }}</a></h4>
	<p class="caption">{{ post.short-description }}</p>
	
	{% endfor %}
	
</div>
</div>
</div>


{% include footer.html %}
{% include js.html %}

</body>
</html>