<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
{% include post-header.html %}

<div class="container-fluid" id="main">
<div class="row">
<div class="col-md-9">

	<p class="lead gray-text">By {{ page.author }}	<br>
	{{ page.date | date: '%B %d, %Y' }}</p>
	<section id="article-content">
	{{ content }}
	</section>

</div>

<div class="col-md-3">
	<div class="sidebar">
	<h4><p><a href="/updates">Updates</a></p></h4>
	</div>
	<div>
	<h5><p class="zephyr">Relevant Updates</p></h5>
		<p>{% for post in site.posts %}
		{% for ptag in page.tags %}
  		{% if post.tags contains ptag %}</p>
  		{% if post.title != page.title %}
    	<h6><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h6>
  		{% endif %}
  		{% endif %}
		{% endfor %}
		{% endfor %}
	</div>
	<h5><p class="zephyr">Recent Updates</p></h5>
		{% for post in site.posts limit: 5 %}
  		{% if post.title != page.title %}
    	<h6><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h6>
  		{% endif %}
		{% endfor %}
	</div>
</div>

</div>

<div class="discuss-banner" style="background-color: #f1f1f1;">
        <div class="container">
        <div class="row">
        <div class="col-md-4">
					<h2>What do you think?</h2>
		 </div>
        <div class="col-md-8">
    		<div id="disqus_thread"></div>
    		<script type="text/javascript">
        	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        	var disqus_shortname = 'zephyr-transport'; // required: replace example with your forum shortname

        	/* * * DON'T EDIT BELOW THIS LINE * * */
        	(function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
       		 })();
    		</script>
    		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
   		 </div>

   		 </div>
   		 </div>
   		 </div>

{% include footer.html %}
{% include js.html %}

</body>
</html>
