<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Refresh" content="1; url=https://zephyr-membership.surge.sh/membership">
  {% include head.html %}
</head>

<body>
{% include post-header.html %}

<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container-fluid" id="main">
  <img src="/img/logo-small.png" width="150px" style="float:left; margin-right:20px;" />
  <h2>
  Redirecting to secure membership page at<br/>
  <a href="https://zephyr-membership.surge.sh/membership">zephyr-membership.surge.sh</a> &hellip;
  </h2>

</div>

<br/>
<br/>
<br/>
<br/>

{% include footer.html %}

</body>
</html>
