---
layout: simple
title: "TMIP Events"
hide-title: true
permalink: /activities/travel-model-improvement-program/events/
---

<h1>TMIP Webinars</h1>

{% assign events_tmip = site.activities | where: "tmip_event", true %}

{% assign earliest_year = site.events_earliest_year | default: 2017 %}
{% assign this_year = 'now' | date: '%Y' | plus: 0 %}
{% assign latest_year = this_year | plus: 1 %}

{% for year in (earliest_year..latest_year) reversed %}
  {% assign stryear = year | append: '' %}

  {% assign count = 0 %}
  {% for post in events_tmip %}
    {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
    {% if postyear contains stryear %}
      {% assign count = count | plus: 1 %}
    {% endif %}
  {% endfor %}

  {% if count > 0 %}
    <br/>
    <div class="z-event-year">
      {{year}}
    </div>
    <div class="z-events-table">
      {% for post in events_tmip reversed %}
        {% capture postyear %}{{post.date | date: '%Y'}}{% endcapture %}
        {% if postyear contains stryear %}
          <div class="z-event-date">
            {% if post.day %}
              {%- assign yr = post.date | date: '%Y' -%}
              {%- assign yearsuffix = ', ' | append: yr -%}
              {{ post.day | remove: yearsuffix }}
            {% else %}
              {{ post.date | date: "%A, %B %-d" }}
            {% endif %}
          </div>
          <div class="z-event-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <p>{{ post.time }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

{% endfor %}

<br/><br/><br/><br/>
